@font-face {
    src: url(/ftypes/Roboto-ExtraBold.ttf);
    font-family: Roboto-shet;
    
}
body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding:20px;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
  /* padding: 20px; */
}
h1, h2{
    font-family: Roboto-shet,Impact;
}
h1{
    margin: 0px;
    margin-bottom: 15px;
    font-size: 40px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
h2{
    font-size: 30px;
}

.established{
    font-style: italic;
}

hr{
  height: 3px;
  background-color: brown;
  border-color: brown;
  height: 2px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
 /* margin: 5px 0px;
     top and bottom for 10 then 20 is left and right */
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%
}

.bottom-line{
  margin-top: 25px;
}

/* FOOTER */

footer{
  font-size: 14px;
}

address{
  font-style: normal;
}

a{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: brown;
}

a:clicked{
  color:brown;
}

.address{
  margin-bottom: 5px;
}